body {
  background-color: #547f91;
  color: #666666;
  font-family: "Tilt Neon", cursive;
}

.text_cap {
  color: #32c6a3;
}

.confirm,
.conf_password,
.hobbies,
.checkbox,
.income_text,
.income,
.age_text,
.age {
  position: relative;
  top: -6px;
}

input.email {
  width: 100%;
}

.input_name,
.password,
.last_name,
.conf_password,
.source_income,
.income,
.age {
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2%;
  background-color: #eff0f1;
}
.main .container .form {
  width: 680px;
}
.main .container .form .form_name {
  text-align: center;
}
.main .container .form .columns {
  margin: -9px 0 -25px 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #fefefe;
}
.main .container .form .columns .first_column,
.main .container .form .columns .second_column {
  flex: 1;
}
.main .container .form .columns .first_column {
  margin-right: 20px;
  margin: 0 20px 0 20px;
}
.main .container .form .columns .second_column {
  margin: 0 25px 0 0px;
}
.main .container .form .bio {
  margin-right: 20px;
  margin: 0 20px 0 20px;
  width: 636px;
}
.main .container .form .bio_field {
  background-color: #fefefe;
  margin: 0 0 -10px 0;
}
.main .container .form .area {
  margin: 0 0 -8px 0;
}
.main .container .form .data_birth {
  margin: 10px 25px 10px 10px;
  padding: 10px;
}
.main .container .form .button {
  display: flex;
  justify-content: flex-end;
  margin: 10px 25px 10px 0;
  padding: 5px;
}
.main .container .form .button input[type=submit] {
  background-color: #32c6a3;
  border: none;
  color: #fefefe;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 5px;
}
.main .container .form .button input[type=submit]:hover {
  cursor: pointer;
  background-color: #547f91;
}/*# sourceMappingURL=styles.css.map */