@import 'variables';

body {
    background-color: $background-col-body;
    color: $text-color;
    font-family: 'Tilt Neon', cursive;
}

.text_cap {
    color: $text-color-cap;
}

.confirm,
.conf_password,
.hobbies,
.checkbox,
.income_text,
.income,
.age_text,
.age {
    position: relative;
    top: -6px;
}

input.email {
    width: 100%;
}

.input_name,
.password,
.last_name,
.conf_password,
.source_income,
.income,
.age {
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 2%;
        background-color: $back-fields;

        .form {
            width: 680px;

            .form_name {
                text-align: center;
            }

            .columns {
                margin: -9px 0 -25px 0;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                background-color: $background-col-form;

                .first_column,
                .second_column {
                    flex: 1;
                }

                .first_column {
                    margin-right: 20px;
                    margin: 0 20px 0 20px;
                }

                .second_column {
                    margin: 0 25px 0 0px;
                }

            }

            .bio {
                margin-right: 20px;
                margin: 0 20px 0 20px;
                width: 636px;
            }

            .bio_field {
                background-color: $background-col-form;
                margin: 0 0 -10px 0;
            }

            .area {
                margin: 0 0 -8px 0;
            }

            .data_birth{
                margin: 10px 25px 10px 10px;
                padding: 10px;
            }
        
            .button {
                display: flex;
                justify-content: flex-end;
                margin: 10px 25px 10px 0;
                padding: 5px;
            }

            .button input[type="submit"] {
                background-color: $text-color-cap;
                border: none;
                color: $background-col-form;
                font-size: 1rem;
                padding: 10px 20px;
                border-radius: 5px;
            }

            .button input[type="submit"]:hover {
                cursor: pointer;
                background-color: $background-col-body;
            }
        }
    }
}